<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 DEBUG 日志 -->
    <appender name="FILE—DEBUG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/debug/maoxf-admin-debug-%d{yyyy-MM-dd}-${LOG_FILE}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 INFO 日志 -->
    <appender name="FILE—INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/info/maoxf-admin-info-%d{yyyy-MM-dd}-${LOG_FILE}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 ERROR 日志 -->
    <appender name="FILE—ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/error/maoxf-admin-error-%d{yyyy-MM-dd}-${LOG_FILE}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 ALL日志 -->
    <appender name="FILE—ALL"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/all/springcloud-all-%d{yyyy-MM-dd}-${LOG_FILE}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 ALL日志 -->
    <appender name="FILE—ORDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/order/maoxf-order-%d{yyyy-MM-dd}-${LOG_FILE}</FileNamePattern>
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 开发环境. 多个使用逗号隔开. -->
    <springProfile name="dev">
        <logger name="com.hfuu" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE—ALL"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE—ALL"/>
        </logger>
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE—ALL"/>
        </root>
    </springProfile>

    <!-- 测试环境, 预发环境. 多个使用逗号隔开. -->
    <springProfile name="beta,test,prep">
        <logger name="com.hfuu" level="DEBUG" additivity="false">
            <appender-ref ref="FILE—ALL"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="FILE—ALL"/>
        </logger>
        <logger name="me.chanjar.weixin.mp" level="DEBUG" additivity="false">
            <appender-ref ref="FILE—ALL"/>
        </logger>
        <root level="ERROR">
            <appender-ref ref="FILE—ALL"/>
            <appender-ref ref="FILE—ERROR"/>
        </root>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="com.hfuu" level="DEBUG" additivity="false">
            <appender-ref ref="FILE—ALL"/>
        </logger>

        <root level="ERROR">
            <appender-ref ref="FILE—ALL"/>
            <appender-ref ref="FILE—ERROR"/>
        </root>
    </springProfile>

</configuration>